@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-clash-grotesk: "Clash Grotesk", sans-serif;

}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
 
}

body {
  font-family: var(--font-inter);
}

.clash {
  font-family: var(--font-clash-grotesk);
}

  h1, h2, h3 {
    font-family: var(--font-clash-grotesk);
  
  }

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
  }

  h2, h3, h4, h5, h6, p {
    color: white;

  }
table {
    font-family: var(--font-inter);
}
  p {
    font-family: var(--font-inter);
  }